@charset "utf-8";
/**********************JUMBOTRON**************************/
.jumbotron{
    border-radius: 0;
    background: rgba(137,25,18);
    color: #fff;
}
/**********************NAVCARDS**************************/
#clothingnav1{
    background: rgba(137,25,18,0.7);
}
.nav-link{
    color: #fff;
}
#hometab1, #hatstab1, #hatstab2{
    transition: 0.2s;
}
#hometab1:hover:not(.active), #hatstab1:hover:not(.active), #hatstab2:hover:not(.active){
    background: #bbb;
    border: 1px solid #bbb;
}
/**********************TABS**************************/
.row{
    margin: 40px 50px;
    padding: 0;
}
/**********************NAVCARDS**************************/
.nav.nav-tabs a{
    padding: 15px 30px;
}
/**********************CARDS**************************/
.card{
    margin: 15px 0px;
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.6);
    transition: 0.3s;
}
.card img{
    margin: 15px 0px 0px 0px;
}
.card:hover{
    transform: scale(1.02);
}
/*************************************************************************************************************/
@media only screen and (max-width:575.98px){
    .nav.nav-tabs a{
        padding: 15px 15px;
    }
    .row{
        margin: 15px 20px;
    }
}
