@charset "utf-8";
/**********************JUMBOTRON**************************/
.jumbotron{
    border-radius: 0;
}
/**********************TABS**************************/
.row{
    margin: 40px 50px;
    padding: 0;
}
/**********************NAVCARDS**************************/
.nav.nav-tabs a{
    padding: 15px 30px;
}
/**********************CARDS**************************/
.card{
    margin: 15px 0px;
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.6);
    transition: 0.3s;
}
.card img{
    margin: 15px 0px 0px 0px;
}
.card:hover{
    transform: scale(1.02);
}
/*************************************************************************************************************/
@media only screen and (max-width:575.98px){
    .nav.nav-tabs a{
        padding: 15px 15px;
    }
}
